@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
  }
}
